body {
  background-color:  #ffffff;
}

nav {
  background-color: #C50B30;
}

.page-footer {
  background-color: #C50B30;
}

.section_member {
    background-color:  #ffffff;
    margin-top: 50px;
}

.parallax-container {
  height: 320px;
}

body > main > div:nth-child(6) > div.card-content > div > form > div > div {
  font-size: 30px;
}

h2,h3,h4,h5 {
  text-align: center;
}


input-field {
  font-size: 30px;
    margin-right: 50%;
}

#email {
    font-size: 60px;
}

html, body, .block {
   height: 100%;
 }

.nav-wrapper {
  margin-left: 33%;
    background-color: #C50B30 !important;

}

a.brand-logo {
  font-size: 85px;
}

.card-content {
  background-colo:rgba(0,0,0,0.5);
  margin-bottom: 50px;
}

#modal1 {

}

body > div.row > div > a {
  margin-bottom: 300px;
  background-color: #C50B30 !important;
}
